@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

h1 {
  color: #302e2e;
  font-size: 40px;
  font-weight: bold;
}

h2 {
  color: #6c757d;
  font-size: 30px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: normal;
}

#introduction p {
  margin-bottom: 40px;
}

a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: #973636;
  font-weight: 600;
  font-size: 16px;
}

body {
  background: #edafb8;
  color: #575F7D;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

.container {
  margin: 40px auto;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.img-circle {
   border-radius: 50%;
}

.btn-pink {
  color: white;
  background-color: #c9184a;
  padding: 15px 20px;
  border-radius: 4px;
}

.card-white {
  padding: 40px;
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

a:hover {
  background-color: #edafb8;
  text-decoration: none;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
